/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Catamaran;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  width: 800px;
  margin-left: calc((100% - 800px) / 2);
}

.logo-box,
.time-box {
  display: flex;
  justify-content: center;
}

/* HERO */

.logo {
  margin-top: 53px;
  margin-bottom: 30px;
}

.main-title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
}

.time-box {
  color: #fff;
  gap: 40px;
  margin-bottom: 40px;
}

.time-number {
  font-size: 40px;
  font-weight: 800;
  line-height: 1;
}

.email-input {
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  width: 42%;
}

.email-input::placeholder {
  color: #fff;
}

.hero-bg {
  background-image: url("http://localhost:4009/assets/img/bg.png");
  background-size: cover;
  text-align: center;
}

.hero-description-box {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.hero-description {
  color: #847bac;
  width: 55%;
  line-height: 1.3;
}

.btn {
  background-color: #ea1e63;
  color: #fff;
  font-size: 16px;
  padding: 0.4em 2em;
}

.btn:hover {
  background-color: #d31c59;
}

.btn-pink {
  margin-top: 26px;
  margin-bottom: 60px;
  border: none;
}

/* INFO SECTION */

.section-info {
  margin-top: 58px;
  margin-bottom: 63px;
  display: flex;
  gap: 74px;
}

.subtitle {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 22px;
}

.info-description {
  color: #666;
}

.active-link,
.active-email {
  color: #ea1e63;
  font-weight: 600;
  text-decoration: none;
}

.progress-bar {
  display: block;
}

.contact-us .input-name,
.contact-us .input-email,
.contact-us .input-message {
  border-top: none;
  border-bottom: 1px solid #666;
}

/* FOOTER */

.socials {
  color: #fff;
}

.footer {
  text-align: center;
  background-color: #03a9f5;
  padding-top: ;
  padding-top: ;
}

.footer-divider {
  height: 1px;
}
