.container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  width: 1000px;
  display: inline-block;
  margin-left: calc(50% - 500px);
  background-color: yellow;
}
.row-short {
  width: 600px;
  margin-left: calc(50% - 300px);
  float: left;
  background-color: pink;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 50%;
}

.right-column {
  width: 40%;
}
