.progress-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.progress-bar > .top {
  display: flex;
  justify-content: space-between;
  color: #777;
  font-size: 18px;
}

.progress-bar > .bottom {
  height: 6px;
  border-radius: 3px;
  background-color: #ccc;
}

.progress-bar > .bottom > .progress {
  height: 100%;
  width: 90%;
  border-radius: inherit;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.progress-bar .progress > .bar {
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  animation: loading 1s forwards;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
